<ion-tabs>
  <ion-tab-bar slot="bottom" class="godz-tab-bar">

    <ion-tab-button tab="home" href="/tabs/home">
      <ion-icon name="home"></ion-icon>
      <ion-label>{{ 'tab.home' | translate }}</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="map" href="/tabs/map">
      <ion-icon name="search"></ion-icon>
      <ion-label>{{ 'tab.explore' | translate }}</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="carte" href="/tabs/carte">
      <ion-icon name="location"></ion-icon>
      <ion-label>{{ 'tab.map' | translate }}</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="favorites" href="/tabs/favorites">
      <ion-icon name="heart"></ion-icon>
      <ion-label>{{ 'tab.favorites' | translate }}</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="itinerary" href="/tabs/itinerary" class="tab-ai">
      <ion-icon name="compass"></ion-icon>
      <ion-label>{{ 'tab.itinerary' | translate }}</ion-label>
    </ion-tab-button>

  </ion-tab-bar>
</ion-tabs>
